<h1 style="color:blue;font-size:3rem;">Water Potability Predictor</h1>

## Goal with data set

<p>The purpose of the model is to analyse known drinkable water and build a model to predict the potability of an unknown given water based on the data provided.<p>

In [49]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import CategoricalNB
from sklearn.naive_bayes import BernoulliNB

from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

In [33]:
water=pd.read_csv('water_potability.csv')
water.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [21]:
water.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [22]:
water.isnull().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

<p>This data contains a lot of null values for ph, Sulfate, and Trihalomethanes. For training purposes and since the sample size is large enough, any measurements with null values will be dropped.</p>

In [23]:
waterNonNull=pd.DataFrame(water).dropna()
waterNonNull.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0

In [24]:
print(len(waterNonNull))

2011

In [25]:
#Insert graphs/tables showing distributions of data

<p>We now have 2011 samples to train our data. However, since no testing data was porvided we will split the data into test and training data to verify the models.</p>

In [36]:
x=waterNonNull.iloc[:,:-1]
y=waterNonNull.iloc[:,-1]
xtrain, xtest, ytrain, ytest=train_test_split(x,y,test_size=0.25,random_state=40)
xtrain.shape,xtest.shape,ytrain.shape,ytest.shape

((1508, 9), (503, 9), (1508,), (503,))

In [39]:
gnb = GaussianNB()
gnb.fit(xtrain, ytrain)
gnb_predict=gnb.predict(xtest)
accuracy_score(gnb_predict,ytest)

0.6302186878727635

In [40]:
mnb = MultinomialNB()
mnb.fit(xtrain, ytrain)
mnb_predict=mnb.predict(xtest)
accuracy_score(mnb_predict,ytest)

0.5049701789264414

In [57]:
bnb = BernoulliNB()
bnb.fit(xtrain, ytrain)
bnb_predict=bnb.predict(xtest)
accuracy_score(bnb_predict,ytest)

0.5825049701789264

<table>
    <th style="text-decoration:underline; font-weight: bold;">References</th>
    <tr>
        <td>Data From:</td>
        <td><a href>https://www.kaggle.com/datasets/adityakadiwal/water-potability/code</a></td>
    </tr>
    <tr>
        <td></td>
        <td><a href>https://scikit-learn.org/stable/modules/naive_bayes.html>/a></td>
    </tr>
</table>